{{#if products }}
    <div class="row mt-3">
        <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3">
            <ul class="list-group">
                <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
                    {{errMsg}}
                </div>
                {{# each products }}
                    <li class="list-group-item">
                        <strong>{{ this.item.title }}</strong>
                        <span class="badge badge-success">${{ this.price }}</span>
                        <!-- Example split danger button -->
                        <span class="dropdown show ml-2">
                            <a class="btn btn-primary btn-sm dropdown-toggle"
                               href="#"
                               role="button"
                               id="dropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Action
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Increase by 1</a>
                                <a class="dropdown-item" href="#">Remove all</a>
                            </div>
                        </span>
                        <span class="badge badge-success pull-right">{{ this.qty }}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3">
            <strong class="pt-2">Your Total: ${{ totalPrice }}</strong>

            <!--Stripe-->
            <form action="/charge" method="post" class="mt-3">
                <script
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-image="http://www.clker.com/cliparts/w/0/q/Y/P/5/shopping-cart-hi.png"
                        data-key="pk_test_6nG8xWFBDtMtcqidY3ehUTFy"
                        data-name="WashMachine-Store Demo"
                        data-description="3 widgets (${{ totalPrice }})"
                        data-amount="{{ totalPrice }}00"
                        data-billing-address="true"
                >
                </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-success">Buy my things</button>
            </form>

            <!-- PAY PAL -->
            <form action="/paypal" method="post">
                <button type="submit" class="mt-2 btn btn-primary">Buy with PayPal</button>
            </form>

            <!--Yandex-->
            <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                <input type="hidden"
                       name="receiver"
                       value="410012676806757">
                <input type="hidden" name="formcomment"
                       value="Проект «Железный человек»: реактор холодного ядерного синтеза">
                <input type="hidden"
                       name="short-dest"
                       value="Проект «Железный человек»: реактор холодного ядерного синтеза">
                <input type="hidden" name="label" value="$order_id">
                <input type="hidden" name="quickpay-form"
                       value="donate">
                <input type="hidden"
                       name="targets"
                       value="транзакция {order_id}">
                <input type="hidden" name="sum" value="4568.25" data-type="number">
                <input type="hidden" name="comment"
                       value="Хотелось бы получить дистанционное управление.">
                <input type="hidden" name="need-fio" value="true">
                <input type="hidden" name="need-email" value="true">
                <input type="hidden" name="need-phone" value="false">
                <input type="hidden" name="need-address"
                       value="false">
                <button type="submit" class="mt-2 btn btn-secondary"
                        name="paymentType"
                        value="AC">Buy with Yandex</button>
            </form>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3">
            <h2>No items in cart</h2>
        </div>
    </div>
{{/if}}
